In [250]:
#Importing Necessary excel file
import pandas as pd
xlsx = pd.ExcelFile('Assignment.xlsx')
df = pd.read_excel(xlsx, 'Raw data')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,NaN,NaN,10 students,5 questions in the test,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assumed +2 for correct and -1 for incorrect
2,NaN,Student No,Name of Candidate,Registration,Grade,Gender,Name of school,Date of Birth,City of Residence,Date and time of test,...,Extra time assistance,Question No.,Time Spent on question (sec),Score if correct,Score if incorrect,Attempt status,What you marked,Correct Answer,Outcome (Correct/Incorrect/Not Attempted),Your score
3,NaN,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,...,No,Q1,60,2,-1,Attempted,A,A,Correct,2
4,NaN,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,...,No,Q2,52,2,-1,Unattempted,NaN,B,Unattempted,0
5,NaN,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,...,No,Q3,89,2,-1,Attempted,C,C,Incorrect,-1
6,NaN,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,...,No,Q4,41,2,-1,Unattempted,NaN,D,Unattempted,0
7,NaN,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,...,No,Q5,56,2,-1,Attempted,E,E,Correct,2
8,NaN,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,...,No,Q1,43,2,-1,Attempted,A,A,Correct,2
9,NaN,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,...,No,Q2,33,2,-1,Unattempted,NaN,B,Unattempted,0
10,NaN,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,...,No,Q3,54,2,-1,Attempted,D,C,Incorrect,-1
11,NaN,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,...,No,Q4,89,2,-1,Attempted,D,D,Correct,2
12,NaN,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,...,No,Q5,34,2,-1,Attempted,E,E,Correct,2
13,NaN,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,...,No,Q1,45,2,-1,Attempted,B,A,Incorrect,-1
14,NaN,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,...,No,Q2,35,2,-1,Attempted,A,B,Incorrect,-1
15,NaN,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,...,No,Q3,56,2,-1,Attempted,B,C,Incorrect,-1
16,NaN,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,...,No,Q4,91,2,-1,Attempted,D,D,Correct,2
17,NaN,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,...,No,Q5,36,2,-1,Attempted,E,E,Correct,2
18,NaN,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,...,No,Q1,47,2,-1,Attempted,B,A,Incorrect,-1
19,NaN,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,...,No,Q2,37,2,-1,Attempted,B,B,Correct,2
20,NaN,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,...,No,Q3,58,2,-1,Attempted,C,C,Correct,2
21,NaN,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,...,No,Q4,93,2,-1,Attempted,D,D,Correct,2
22,NaN,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,...,No,Q5,38,2,-1,Attempted,E,E,Correct,2
23,NaN,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,...,No,Q1,58,2,-1,Attempted,A,A,Correct,2
24,NaN,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,...,No,Q2,50,2,-1,Attempted,B,B,Correct,2
25,NaN,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,...,No,Q3,87,2,-1,Unattempted,NaN,C,Unattempted,0
26,NaN,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,...,No,Q4,39,2,-1,Attempted,D,D,Correct,2
27,NaN,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,...,No,Q5,54,2,-1,Unattempted,NaN,E,Unattempted,0
28,NaN,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,...,Yes,Q1,41,2,-1,Unattempted,NaN,A,Unattempted,0
29,NaN,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,...,Yes,Q2,31,2,-1,Attempted,B,B,Correct,2
30,NaN,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,...,Yes,Q3,52,2,-1,Attempted,C,C,Correct,2
31,NaN,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,...,Yes,Q4,87,2,-1,Attempted,C,D,Incorrect,-1
32,NaN,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,...,Yes,Q5,32,2,-1,Attempted,E,E,Correct,2
33,NaN,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,...,No,Q1,43,2,-1,Attempted,A,A,Correct,2
34,NaN,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,...,No,Q2,33,2,-1,Attempted,B,B,Correct,2
35,NaN,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,...,No,Q3,54,2,-1,Attempted,D,C,Incorrect,-1
36,NaN,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,...,No,Q4,89,2,-1,Attempted,D,D,Correct,2
37,NaN,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,...,No,Q5,34,2,-1,Attempted,E,E,Correct,2
38,NaN,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,...,No,Q1,39,2,-1,Attempted,A,A,Correct,2
39,NaN,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,...,No,Q2,29,2,-1,Attempted,B,B,Correct,2
40,NaN,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,...,No,Q3,50,2,-1,Unattempted,NaN,C,Unattempted,0
41,NaN,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,...,No,Q4,85,2,-1,Attempted,D,D,Correct,2
42,NaN,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,...,No,Q5,30,2,-1,Unattempted,E,E,Correct,2
43,NaN,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,...,Yes,Q1,42,2,-1,Unattempted,NaN,A,Unattempted,0
44,NaN,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,...,Yes,Q2,32,2,-1,Attempted,B,B,Correct,2
45,NaN,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,...,Yes,Q3,53,2,-1,Attempted,C,C,Correct,2
46,NaN,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,...,Yes,Q4,88,2,-1,Attempted,D,D,Correct,2
47,NaN,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,...,Yes,Q5,33,2,-1,Attempted,A,E,Incorrect,-1
48,NaN,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,...,No,Q1,45,2,-1,Attempted,A,A,Correct,2
49,NaN,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,...,No,Q2,35,2,-1,Unattempted,NaN,B,Unattempted,0
50,NaN,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,...,No,Q3,56,2,-1,Attempted,C,C,Correct,2
51,NaN,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,...,No,Q4,91,2,-1,Attempted,D,D,Correct,2
52,NaN,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,...,No,Q5,36,2,-1,Attempted,D,E,Incorrect,-1

In [251]:
#Cleaning the 'Nan' rows and columns
df=df.drop(0,axis=0)
df=df.drop(1,axis=0)
df=df.drop("Unnamed: 0",axis=1)
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
2,Student No,Name of Candidate,Registration,Grade,Gender,Name of school,Date of Birth,City of Residence,Date and time of test,Country of Residence,Extra time assistance,Question No.,Time Spent on question (sec),Score if correct,Score if incorrect,Attempt status,What you marked,Correct Answer,Outcome (Correct/Incorrect/Not Attempted),Your score
3,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,Japan,No,Q1,60,2,-1,Attempted,A,A,Correct,2
4,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,Japan,No,Q2,52,2,-1,Unattempted,NaN,B,Unattempted,0
5,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,Japan,No,Q3,89,2,-1,Attempted,C,C,Incorrect,-1
6,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,Japan,No,Q4,41,2,-1,Unattempted,NaN,D,Unattempted,0
7,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,Japan,No,Q5,56,2,-1,Attempted,E,E,Correct,2
8,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,China,No,Q1,43,2,-1,Attempted,A,A,Correct,2
9,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,China,No,Q2,33,2,-1,Unattempted,NaN,B,Unattempted,0
10,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,China,No,Q3,54,2,-1,Attempted,D,C,Incorrect,-1
11,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,China,No,Q4,89,2,-1,Attempted,D,D,Correct,2
12,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,China,No,Q5,34,2,-1,Attempted,E,E,Correct,2
13,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,India,No,Q1,45,2,-1,Attempted,B,A,Incorrect,-1
14,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,India,No,Q2,35,2,-1,Attempted,A,B,Incorrect,-1
15,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,India,No,Q3,56,2,-1,Attempted,B,C,Incorrect,-1
16,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,India,No,Q4,91,2,-1,Attempted,D,D,Correct,2
17,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,India,No,Q5,36,2,-1,Attempted,E,E,Correct,2
18,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,Pakistan,No,Q1,47,2,-1,Attempted,B,A,Incorrect,-1
19,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,Pakistan,No,Q2,37,2,-1,Attempted,B,B,Correct,2
20,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,Pakistan,No,Q3,58,2,-1,Attempted,C,C,Correct,2
21,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,Pakistan,No,Q4,93,2,-1,Attempted,D,D,Correct,2
22,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,Pakistan,No,Q5,38,2,-1,Attempted,E,E,Correct,2
23,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,USA,No,Q1,58,2,-1,Attempted,A,A,Correct,2
24,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,USA,No,Q2,50,2,-1,Attempted,B,B,Correct,2
25,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,USA,No,Q3,87,2,-1,Unattempted,NaN,C,Unattempted,0
26,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,USA,No,Q4,39,2,-1,Attempted,D,D,Correct,2
27,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,USA,No,Q5,54,2,-1,Unattempted,NaN,E,Unattempted,0
28,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,Brazil,Yes,Q1,41,2,-1,Unattempted,NaN,A,Unattempted,0
29,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,Brazil,Yes,Q2,31,2,-1,Attempted,B,B,Correct,2
30,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,Brazil,Yes,Q3,52,2,-1,Attempted,C,C,Correct,2
31,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,Brazil,Yes,Q4,87,2,-1,Attempted,C,D,Incorrect,-1
32,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,Brazil,Yes,Q5,32,2,-1,Attempted,E,E,Correct,2
33,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,England,No,Q1,43,2,-1,Attempted,A,A,Correct,2
34,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,England,No,Q2,33,2,-1,Attempted,B,B,Correct,2
35,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,England,No,Q3,54,2,-1,Attempted,D,C,Incorrect,-1
36,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,England,No,Q4,89,2,-1,Attempted,D,D,Correct,2
37,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,England,No,Q5,34,2,-1,Attempted,E,E,Correct,2
38,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,India,No,Q1,39,2,-1,Attempted,A,A,Correct,2
39,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,India,No,Q2,29,2,-1,Attempted,B,B,Correct,2
40,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,India,No,Q3,50,2,-1,Unattempted,NaN,C,Unattempted,0
41,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,India,No,Q4,85,2,-1,Attempted,D,D,Correct,2
42,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,India,No,Q5,30,2,-1,Unattempted,E,E,Correct,2
43,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,Bangladesh,Yes,Q1,42,2,-1,Unattempted,NaN,A,Unattempted,0
44,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,Bangladesh,Yes,Q2,32,2,-1,Attempted,B,B,Correct,2
45,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,Bangladesh,Yes,Q3,53,2,-1,Attempted,C,C,Correct,2
46,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,Bangladesh,Yes,Q4,88,2,-1,Attempted,D,D,Correct,2
47,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,Bangladesh,Yes,Q5,33,2,-1,Attempted,A,E,Incorrect,-1
48,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,India,No,Q1,45,2,-1,Attempted,A,A,Correct,2
49,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,India,No,Q2,35,2,-1,Unattempted,NaN,B,Unattempted,0
50,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,India,No,Q3,56,2,-1,Attempted,C,C,Correct,2
51,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,India,No,Q4,91,2,-1,Attempted,D,D,Correct,2
52,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,India,No,Q5,36,2,-1,Attempted,D,E,Incorrect,-1

In [252]:
#Renaming the row and column index
df=df.rename(columns=df.iloc[0]).drop(df.index[0])

In [253]:
df = df.rename(index = lambda x: x-2)

In [254]:
df

,Student No,Name of Candidate,Registration,Grade,Gender,Name of school,Date of Birth,City of Residence,Date and time of test,Country of Residence,Extra time assistance,Question No.,Time Spent on question (sec),Score if correct,Score if incorrect,Attempt status,What you marked,Correct Answer,Outcome (Correct/Incorrect/Not Attempted),Your score
1,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,Japan,No,Q1,60,2,-1,Attempted,A,A,Correct,2
2,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,Japan,No,Q2,52,2,-1,Unattempted,NaN,B,Unattempted,0
3,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,Japan,No,Q3,89,2,-1,Attempted,C,C,Incorrect,-1
4,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,Japan,No,Q4,41,2,-1,Unattempted,NaN,D,Unattempted,0
5,1,abc,32030938,2,M,YTH,2012-11-22 00:00:00,Tokyo,2020-12-16 00:00:00,Japan,No,Q5,56,2,-1,Attempted,E,E,Correct,2
6,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,China,No,Q1,43,2,-1,Attempted,A,A,Correct,2
7,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,China,No,Q2,33,2,-1,Unattempted,NaN,B,Unattempted,0
8,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,China,No,Q3,54,2,-1,Attempted,D,C,Incorrect,-1
9,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,China,No,Q4,89,2,-1,Attempted,D,D,Correct,2
10,2,afd,92743967,3,F,rtgh,2011-11-11 00:00:00,Beijing,2020-12-16 00:00:00,China,No,Q5,34,2,-1,Attempted,E,E,Correct,2
11,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,India,No,Q1,45,2,-1,Attempted,B,A,Incorrect,-1
12,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,India,No,Q2,35,2,-1,Attempted,A,B,Incorrect,-1
13,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,India,No,Q3,56,2,-1,Attempted,B,C,Incorrect,-1
14,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,India,No,Q4,91,2,-1,Attempted,D,D,Correct,2
15,3,fds,80989090,4,M,FGD,2010-03-07 00:00:00,Mumbai,2020-12-17 00:00:00,India,No,Q5,36,2,-1,Attempted,E,E,Correct,2
16,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,Pakistan,No,Q1,47,2,-1,Attempted,B,A,Incorrect,-1
17,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,Pakistan,No,Q2,37,2,-1,Attempted,B,B,Correct,2
18,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,Pakistan,No,Q3,58,2,-1,Attempted,C,C,Correct,2
19,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,Pakistan,No,Q4,93,2,-1,Attempted,D,D,Correct,2
20,4,oiy,22037432,4,F,JFJ,2009-04-09 00:00:00,Karachi,2020-12-16 00:00:00,Pakistan,No,Q5,38,2,-1,Attempted,E,E,Correct,2
21,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,USA,No,Q1,58,2,-1,Attempted,A,A,Correct,2
22,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,USA,No,Q2,50,2,-1,Attempted,B,B,Correct,2
23,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,USA,No,Q3,87,2,-1,Unattempted,NaN,C,Unattempted,0
24,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,USA,No,Q4,39,2,-1,Attempted,D,D,Correct,2
25,5,fgs,47859347,5,M,WWP,2010-09-19 00:00:00,Chicago,2020-12-16 00:00:00,USA,No,Q5,54,2,-1,Unattempted,NaN,E,Unattempted,0
26,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,Brazil,Yes,Q1,41,2,-1,Unattempted,NaN,A,Unattempted,0
27,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,Brazil,Yes,Q2,31,2,-1,Attempted,B,B,Correct,2
28,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,Brazil,Yes,Q3,52,2,-1,Attempted,C,C,Correct,2
29,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,Brazil,Yes,Q4,87,2,-1,Attempted,C,D,Incorrect,-1
30,6,wty,92743967,6,F,PLP,2008-10-21 00:00:00,Sao Paolo,2020-12-17 00:00:00,Brazil,Yes,Q5,32,2,-1,Attempted,E,E,Correct,2
31,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,England,No,Q1,43,2,-1,Attempted,A,A,Correct,2
32,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,England,No,Q2,33,2,-1,Attempted,B,B,Correct,2
33,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,England,No,Q3,54,2,-1,Attempted,D,C,Incorrect,-1
34,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,England,No,Q4,89,2,-1,Attempted,D,D,Correct,2
35,7,dsd,65644238,5,M,AZA,2009-12-31 00:00:00,London,2020-12-17 00:00:00,England,No,Q5,34,2,-1,Attempted,E,E,Correct,2
36,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,India,No,Q1,39,2,-1,Attempted,A,A,Correct,2
37,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,India,No,Q2,29,2,-1,Attempted,B,B,Correct,2
38,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,India,No,Q3,50,2,-1,Unattempted,NaN,C,Unattempted,0
39,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,India,No,Q4,85,2,-1,Attempted,D,D,Correct,2
40,8,yyy,90991233,7,F,HGH,2013-02-08 00:00:00,Delhi,2020-12-16 00:00:00,India,No,Q5,30,2,-1,Unattempted,E,E,Correct,2
41,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,Bangladesh,Yes,Q1,42,2,-1,Unattempted,NaN,A,Unattempted,0
42,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,Bangladesh,Yes,Q2,32,2,-1,Attempted,B,B,Correct,2
43,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,Bangladesh,Yes,Q3,53,2,-1,Attempted,C,C,Correct,2
44,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,Bangladesh,Yes,Q4,88,2,-1,Attempted,D,D,Correct,2
45,9,pop,76754433,8,M,TTT,2012-07-09 00:00:00,Dhaka,2020-12-17 00:00:00,Bangladesh,Yes,Q5,33,2,-1,Attempted,A,E,Incorrect,-1
46,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,India,No,Q1,45,2,-1,Attempted,A,A,Correct,2
47,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,India,No,Q2,35,2,-1,Unattempted,NaN,B,Unattempted,0
48,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,India,No,Q3,56,2,-1,Attempted,C,C,Correct,2
49,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,India,No,Q4,91,2,-1,Attempted,D,D,Correct,2
50,10,qqw,90283622,12,F,BGG,2012-06-02 00:00:00,Mumbai,2020-12-16 00:00:00,India,No,Q5,36,2,-1,Attempted,D,E,Incorrect,-1

In [255]:
df.keys()

Index(['Student No ', 'Name of Candidate', 'Registration', 'Grade ', 'Gender',
       'Name of school ', 'Date of Birth ', 'City of Residence',
       'Date and time of test', 'Country of Residence',
       'Extra time assistance', 'Question No.', 'Time Spent on question (sec)',
       'Score if correct', 'Score if incorrect', 'Attempt status ',
       'What you marked', 'Correct Answer',
       'Outcome (Correct/Incorrect/Not Attempted)', 'Your score'],
      dtype='object')

In [256]:
#List of Outcome of the answers
ans=df.loc[:,"Outcome (Correct/Incorrect/Not Attempted)"].values
ans=ans.astype('str')
ans=ans.tolist()

In [257]:
#List of the Attempt status
status=df.loc[:,"Attempt status "].values
status=status.astype('str')
status=status.tolist()

In [258]:
#Finding the percentile of the marks
from scipy import stats
x=df.loc[:,"Your score"].values
x=x.astype('int32')
score=[0]*10
percentile=[0]*10

for i in range(0,45,5):
    k=int(i/5)
    for l in range(0,5):
        score[k]+=x[i+l]
        
for i in range(0,45,5):
    k=int(i/5)
    percentile[k]=stats.percentileofscore(score,score[k], kind='mean')

In [259]:
#list if time taken by the students for each question
time=df.loc[:,"Time Spent on question (sec)"].values
time=time.astype('int32')
time=time.tolist()

In [260]:
#Bar graph for time taken
from reportlab.graphics.charts.barcharts import(VerticalBarChart)
from reportlab.lib import colors
from reportlab.graphics.shapes import Drawing,String
def barChartData(j):
    data=[time[j-1:j+3]]
    chart=VerticalBarChart()
    chart.data=data
    chart.x=25
    # chart.y=5
    chart.valueAxis.valueMin=0
    chart.valueAxis.valueMax=100
    chart.valueAxis.valueStep=20
    chart.bars[0].fillColor=colors.Color(red=(79.0/255),green=(129.0/255),blue=(189.0/255))
    chart.categoryAxis.categoryNames=['Q1','Q2','Q3','Q4','Q5']
    # title=String(90,300,'BarChart',fontSize=14) 
    drawing=Drawing(240,120)
    # drawing.add(title)
    drawing.add(chart)
    return drawing

In [261]:
#Piechart1 -time taken
#Piechart2 - Attempts
#Piechart3 - Accuracy from attempted questions
from reportlab.graphics.charts.piecharts import(Pie)
from reportlab.graphics.charts.legends import Legend
from reportlab.lib.validators import Auto
from reportlab.lib import colors
from reportlab.graphics.shapes import Drawing,String

def pieChartData1(j):
    data=time[j-1:j+3]
    chart=Pie()
    chart.data=data
    chart.x=25
    chart.slices[3].popout = 5
    chart.slices[0].fillColor=colors.Color(red=(79.0/255),green=(129.0/255),blue=(189.0/255))
    chart.slices[1].fillColor=colors.Color(red=(192.0/255),green=(80.0/255),blue=(77.0/255))
    # chart.y=5
    # title=String(90,300,'Piechart',fontSize=14)
    chart.labels=['Q1','Q2','Q3','Q4','Q5']
    legend=Legend()
    legend.x=165
    legend.y=80
    legend.alignment='right'
    legend.colorNamePairs=Auto(obj=chart)
    drawing=Drawing(240,120)
    # drawing.add(title)
    drawing.add(chart)
    drawing.add(legend)
    return drawing

def pieChartData2(data):
    chart=Pie()
    chart.data=data
    chart.x=60
    chart.slices[0].popout =10 
    chart.labels=['Attempted','Not Attempted']
    chart.sideLabels=True
    legend=Legend()
    legend.x=180
    legend.y=20
    legend.alignment='right'
    legend.colorNamePairs=Auto(obj=chart)
    drawing=Drawing(240,120)
    drawing.add(chart)
    drawing.add(legend)
    return drawing

def pieChartData3(data):
    chart=Pie()
    chart.data=data
    chart.x=40
    chart.slices[0].popout =10 
    chart.slices[0].fillColor=colors.Color(red=(148.0/255),green=(207.0/255),blue=(23.0/255))  #148, 207, 23
    chart.slices[1].fillColor=colors.Color(red=(173.0/255),green=(47.0/255),blue=(47.0/255))  #173, 47, 47
    chart.labels=['Correct','Incorrect']
    chart.sideLabels=True
    legend=Legend()
    legend.x=200
    legend.y=45
    legend.alignment='right'
    legend.colorNamePairs=Auto(obj=chart)
    drawing=Drawing(240,120)
    drawing.add(chart)
    drawing.add(legend)
    return drawing

In [262]:
#Helps us to find the values of the coordinates in the pdf
def drawMyRuler(pdf):
    pdf.drawString(100,810, 'x100')
    pdf.drawString(200,810, 'x200')
    pdf.drawString(300,810, 'x300')
    pdf.drawString(400,810, 'x400')
    pdf.drawString(500,810, 'x500')

    pdf.drawString(10,100, 'y100')
    pdf.drawString(10,200, 'y200')
    pdf.drawString(10,300, 'y300')
    pdf.drawString(10,400, 'y400')
    pdf.drawString(10,500, 'y500')
    pdf.drawString(10,600, 'y600')
    pdf.drawString(10,700, 'y700')
    pdf.drawString(10,800, 'y800')

In [263]:
#Student Details Table

from reportlab.platypus import Table, TableStyle, Paragraph
from reportlab.lib import colors

def drawStudentReportTable(pdf):
    tableWidth = 400
    tableHeight = 100
    x1 = 90
    y1 = 615
    firstTable = Table(student_dataTable_one)

    style=TableStyle([
    ('BACKGROUND',(1,0),(1,-1),'#F2DCDB'),
    ('GRID',(0,0),(-1,-1),0.5,colors.black)
    ])
    firstTable.setStyle(style)
    firstTable.wrapOn(pdf, tableWidth, tableHeight)
    firstTable.drawOn(pdf, x1, y1)
    x2 = 330
    y2 = 615
    secondTable = Table(student_dataTable_two)
    secondTable.setStyle(style)
    secondTable.wrapOn(pdf, tableWidth, tableHeight)
    secondTable.drawOn(pdf, x2, y2)

In [264]:
#Student Performance Table

from reportlab.platypus import Table, TableStyle, Paragraph
from reportlab.lib import colors
from reportlab.lib.styles import getSampleStyleSheet

def completeResultTable(pdf,PAGE_WIDTH):
    tableWidth=200
    tableHeight=150
    x=30
    y=335
    style=TableStyle([
    ('BACKGROUND',(0,0),(-1,0),'#DCE6F1'),
    ('BACKGROUND',(0,1),(-1,-1),'#F2DCDB'),
    ('BOX',(0,0),(-1,-1),0.5,colors.black),
    ('GRID',(0,0),(-1,-3),0.5,colors.black),
    ('GRID',(-2,-2),(-1,-1),0.5,colors.black)
    ])
    s = getSampleStyleSheet()
    s = s["BodyText"]
    s.wordWrap = 'CJK'
    WrappedstudentDetailTable = [[Paragraph(cell, s) for cell in row] for row in studentDetailTable]
    fullTable=Table(WrappedstudentDetailTable,60)
    fullTable.setStyle(style)
    fullTable.wrapOn(pdf,tableWidth,tableHeight)
    fullTable.drawOn(pdf,x,y)

In [268]:
score
percentile

[25.0, 45.0, 15.0, 80.0, 65.0, 45.0, 80.0, 95.0, 45.0, 0]

In [267]:
#main code goes here
from reportlab.pdfgen import canvas  
from reportlab.rl_config import defaultPageSize 
from reportlab.pdfbase.pdfmetrics import stringWidth
from reportlab.platypus import Paragraph, Frame
from reportlab.lib.styles import ParagraphStyle
# from reportlab.platypus import Table, TableStyle, Paragraph
# from reportlab.lib import colors
# from reportlab.lib.styles import getSampleStyleSheet
# from reportlab.graphics.shapes import Drawing,String
# from reportlab.graphics.charts.barcharts import(VerticalBarChart)
# from reportlab.graphics.charts.piecharts import(Pie)
# from reportlab.graphics.charts.legends import Legend
# from reportlab.lib.validators import Auto
for j in range(1,47,5):
    k=int(j/5)+1
    s=[0]*2
    c=[0]*2
    tot=[0]*2
    cor=[0]*2
    
    for a in range(-1,4):
        if(status[j+a]=='Unattempted'):
            s[1]+=1
        else:
            s[0]+=1
    tot[0]=(s[0]/(s[0]+s[1]))*100
    tot[1]=(s[1]/(s[0]+s[1]))*100
    
    for a in range(-1,4):
        if(ans[j+a]=='Incorrect'):
            c[1]+=1
        elif(ans[j+a]=='Correct'):
            c[0]+=1
    cor[0]=(c[0]/(c[0]+c[1]))*100
    cor[1]=(c[1]/(c[0]+c[1]))*100
    
    
    cor=[round(num, 1) for num in cor]
    tot=[round(num, 1) for num in tot]
    
    
    
    documentName=str(k)+'GradeCard.pdf'
    documentTitle='GradeCard'
    heading='Wisdom Tests and Math Challenge'
    image='olympic.jpg'
    image2='border.jpg'
    image3='bg.jpg'
    image4=str(k)+'.jpg'
    student_dataTable_one=[['Name of candidate',df.loc[j,"Name of Candidate"]],
                           ['Grade',str(df.loc[j,"Grade "])],
                           ['School Name',df.loc[j,"Name of school "]],
                           ['City of Residence',df.loc[j,"City of Residence"]],
                           ['Country of Residence',df.loc[j,"Country of Residence"]]]
    
    student_dataTable_two=[['Registration No',df.loc[j,"Registration"]],
    ['Gender',df.loc[j,"Gender"]],
    ['Date of birth',df.loc[j,"Date of Birth "]],
    ['Date of Test ',df.loc[j,"Date and time of test"]],
    ['Extra Time assistance',df.loc[j,"Extra time assistance"]]]
    
    studentDetailTable=[
    ['Question No','Time Spent on question (sec)','Score if correct','Score if incorrect',
    'Attempt status','What you marked','Correct Answer','Outcome (Correct/Incorrect/Not Attempted)','Your Score'],
    ['Q1',str(df.loc[j,"Time Spent on question (sec)"]),'2','-1',df.loc[j,"Attempt status "],str(df.loc[j,"What you marked"]),'A',df.loc[j,"Outcome (Correct/Incorrect/Not Attempted)"],str(df.loc[j,"Your score"])],
    ['Q2',str(df.loc[j+1,"Time Spent on question (sec)"]),'2','-1',df.loc[j+1,"Attempt status "],str(df.loc[j+1,"What you marked"]),'B',df.loc[j+1,"Outcome (Correct/Incorrect/Not Attempted)"],str(df.loc[j+1,"Your score"])],
    ['Q3',str(df.loc[j+2,"Time Spent on question (sec)"]),'2','-1',df.loc[j+2,"Attempt status "],str(df.loc[j+2,"What you marked"]),'C',df.loc[j+2,"Outcome (Correct/Incorrect/Not Attempted)"],str(df.loc[j+2,"Your score"])],
    ['Q4',str(df.loc[j+3,"Time Spent on question (sec)"]),'2','-1',df.loc[j+3,"Attempt status "],str(df.loc[j+3,"What you marked"]),'D',df.loc[j+3,"Outcome (Correct/Incorrect/Not Attempted)"],str(df.loc[j+3,"Your score"])],
    ['Q5',str(df.loc[j+4,"Time Spent on question (sec)"]),'2','-1',df.loc[j+4,"Attempt status "],str(df.loc[j+4,"What you marked"]),'E',df.loc[j+4,"Outcome (Correct/Incorrect/Not Attempted)"],str(df.loc[j+4,"Your score"])],
    ['','','','','','','','Total Score',str(score[k-1])],
    ['','','','','','','','Your overall percentile',str(percentile[k-1])]]
    PAGE_HEIGHT = defaultPageSize[0]
    PAGE_WIDTH = defaultPageSize[1]
    pdf=canvas.Canvas(documentName) #,bottomup=0,pagesize=letter 
    pdf.setTitle(documentTitle)
    # pdf.drawString(10,20,str(PAGE_HEIGHT))
    #text_width = stringWidth(heading,"Times-Roman",100)
    pdf.drawInlineImage(image2,0,0,595,841)
    pdf.drawInlineImage(image3,5,5,585,831)
    
    
    # pdf.drawString(10,10,str(text_width))
    # use below to know your page width details:  841 y axis,595 x axis
    pdf.drawCentredString(295,800,heading)#(PAGE_WIDTH - text_width)/4,100

    pdf.drawCentredString(295,580,"Student Performance")
    
    pdf.drawCentredString(120,290,"Time taken for each question")
    
    pdf.drawCentredString(370,290,"Time spent as a funtion of total time")
    
    pdf.drawCentredString(120,130,"Attempts")
    
    pdf.drawCentredString(370,130,"Accuracy from attempted questions")
    #drawMyRuler(pdf)    #can make use of this for scaling puurpose

    # adding logo below the title

    pdf.drawInlineImage(image,250,735,90,55)
    pdf.drawInlineImage(image4,450,735,90,55)
    

    # pdf.drawString(10,10,str(PAGE_WIDTH))



    # inclusion of table data for student based details

    drawStudentReportTable(pdf)

    completeResultTable(pdf,PAGE_WIDTH)


    #chart representation

    chartTables=Table([
    [barChartData(j),pieChartData1(j)],
    [pieChartData2(tot),pieChartData3(cor)]],270,150)

    chartTables.setStyle([
     ('VALIGN',(0,0),(-1,-1),'CENTER'),
     ('ALIGN',(0,0),(-1,-1),'CENTER')])
    chartTables.wrapOn(pdf,814,350)
    chartTables.drawOn(pdf,0,0)


    #dummy values inside pie3

    pdf.drawString(333,60,str(cor[0]))

    pdf.drawString(390,60,str(cor[1]))
    
    pdf.drawString(75,60,str(tot[0]))

    pdf.drawString(135,60,str(tot[1]))

    #final save to  make the pdf exportable document

    pdf.save()